<ul class="header-advantages">
  <li class="header-advantages__item">
    <svg width="90" height="90" aria-hidden="true">
      <use xlink:href="img/sprite_auto.svg#icon-easy-control"></use>
    </svg>
    Управлять блендером Braun намного проще с технологией Easy Control
  </li>
  <li class="header-advantages__item">
    <svg width="90" height="90" aria-hidden="true">
      <use xlink:href="img/sprite_auto.svg#icon-shape"></use>
    </svg>
    Улучшенная форма купола блендера предотвращает разбрызгивание и обеспечивает чистоту вашей кухни
  </li>
  <li class="header-advantages__item">
    <svg width="90" height="90" aria-hidden="true">
      <use xlink:href="img/sprite_auto.svg#icon-power"></use>
    </svg>
    Легендарный мотор в 850 Вт даёт погружному блендеру мощность стационарного
  </li>

</ul>
